h1 {
  margin: 0;
}

.big-heading {
  font-family: Verdana;
}

.section-heading {
  /* Add your own font here */
}

.nav__list {

}

.nav__list_item {

}

.page {

}

.page__header {
  background-color: aqua;

}
.page__content {
  background-color: beige;

}

.left-content {
  background-color: burlywood;

}

.right-content {
  background-color: burlywood;
}

.main-content {

}

.main-content__section {
  background-color: cornsilk;

}