h1 {
  margin: 0;
}

.big-heading {
  font-family: Verdana;
}

.section-heading {
  /* Add your own font here */
}

.nav__list {

}

.nav__list_item {

}

.page {

}

.page_header {
  background-color: aqua;

}
.page__content {

}

.left-content {

}

.right-content {

}

.main-content {

}

.main-content__section {

}